
*{
	-moz-box-sizing: border-box;
 	-webkit-box-sizing: border-box;
 	 box-sizing: border-box;
}

html, body {
	height: 100%;
	margin:0;
	padding: 0px;

}

.container-fluid {
	height: 100%;
}

.row {
	height: 100%;
	background-color: rgba(43, 42, 42, 0.91);

}

#place-list {
	color: #1B7DCC;
	font-size: 20px;
	margin-left: -30px;
	margin-top: 10px;
	}
@media screen and (max-width: 600px) {
	#place-list {
		color:#1B7DCC;
		font-size: 10px;
	}
}

.attractionList:hover{
	color: white;
}

.row {
	max-height: 1280px;
}

#map {
	height: 100%;

}

#search{
	padding-top: 10px;

}

li{
	padding-top: 10px;

}

#boxtext {
	max-width: 100%;

}

li:hover{

	max-width: 100%;

